<p id="notice"><%= notice %></p>

<h1>Application Settings</h1>

<table>
  <thead>
    <tr>
      <th>Setting</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @application_settings.each do |application_setting| %>
      <tr>
        <td><%= application_setting.setting %></td>
        <td><%= application_setting.value %></td>
        <td><%= link_to 'Show', application_setting %></td>
        <td><%= link_to 'Edit', edit_application_setting_path(application_setting) %></td>
        <td><%= link_to 'Destroy', application_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application Setting', new_application_setting_path %>
