<div class="row">
  <div class="col s12 m12 l4 offset-l4">
    
    <h1>Privacy Policies</h1>
    <p><strong>Nota: </strong> La Politica de Privacidad que se muestra al usuario siempre será el ultimo registro agregado.</p>

    <table>
      <thead>
        <tr>
          <th>Version</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @privacy_policies.each do |privacy_policy| %>
          <tr>
            <td><h4>Versión <%= privacy_policy.version %></h4></td>
            <td><%= link_to 'Ver', privacy_policy %></td>
            <td><%= link_to 'Editar', edit_privacy_policy_path(privacy_policy) %></td>
            <td><%= link_to 'Eliminar', privacy_policy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

  </div>

  <div class="col s12 m12 l4 offset-l4 right-align">
    <%= link_to 'Nueva Politica de Privacidad', new_privacy_policy_path, class: 'btn' %>
  </div>
</div>
