<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @privacy_policy.content %>
</p>

<p>
  <strong>Version:</strong>
  <%= @privacy_policy.version %>
</p>

<%= link_to 'Edit', edit_privacy_policy_path(@privacy_policy) %> |
<%= link_to 'Back', privacy_policies_path %>
