
<div class="container">
  <div class="row">
    <div class="col s12 l10 offset-l1">
      
      <div class="article-header">
        <div class="bg-image">
           <%= image_tag @article.image[:large].url, style: 'width: 100%' %>
           <h1 class="title"><%= @article.title %></h1>
        </div>
      </div>

      <div class="row valign-wrapper">
        <div class="col s12">
          
          <div class="author_info">
            <div class="chip">
              <% unless @article.user.admin %>
                <%= image_tag (@article.user.image || 'blank_profile_small.png'), alt: 'Informacion de autor' %>
                <%= @article.user.name %>
              <% else %>
                <%= image_tag 'escudo_tepeapulco_logo.png', alt: 'Informacion de autor' %>
                Tepeapulco Admin
              <% end %>
            </div>
          </div>

        </div>


        <div class="col s12">
          
          <div class="update-info grey-text">
            Ultima Actualización
            <strong>
              <%= time_ago_in_words(@article.updated_at) %>
            </strong> 
          </div>
        </div>
      </div>

      <div class="article-content tinymce-content"> 
        <%= @article.content.html_safe %>
      </div>

      <% if user_signed_in? and current_user == @article.user %>
        <div class="fixed-action-btn">
          <%= link_to edit_article_path(@article), class: 'btn-floating btn-large waves-effect waves-light red' do %>
            <i class="material-icons">edit</i>
          <% end %>
        </div>
      <% end %>
      
    </div>
  </div>

</div>
