<div class="col s12 m6 l3">
  <div class="card small card-event">
    <div class="card-image grey lighten-3">
      <a href="<%= event_path(event) %>">
        <%= image_tag (event.image_url(:small) || 'tepeapulco-piramide.jpg') %>
      </a>
      <a href="<%= event_path(event) %>">
        <span class="card-title"><%= event.title %></span>
      </a>
    </div>
    <div class="card-content">

      <div class="card-info">
        <span>
          <% if event.date == Date.today %>
            <%= 'HOY' %>
          <% else  %>
            <% if (event.date - Date.today).to_i == 1  %>
              <%= 'FALTA 1 DÍA' %>  
            <% else %>
              <%= 'FALTAN ' + (event.date - Date.today).to_i.to_s + ' DÍAS'%>  
            <% end %>
          <% end %>
        </span>
        <address><%= event.address %></address>
      </div>

      <p><%= (strip_tags event.description).truncate(110) %></p>
    </div>
  
    <% if user_signed_in? and current_user.admin %>
        <div class="admin-actions">
            <%= link_to edit_event_path(event), class: 'card-edit-action' do %>
              <i class="material-icons">edit</i>
            <% end %>
            <%= link_to events_path( method: :destroy ), class: 'card-edit-action' do %>
              <i class="material-icons red-text">delete_forever</i>
            <% end %>
        </div>
      <% end %>

  </div>
</div>