<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, 'Nombre' %>
    <%= form.text_field :title, id: :event_title %>
  </div>

  <div class="field">
    <%= form.label :address, 'Dirección' %>
    <%= form.text_field :address, id: :event_address %>
  </div>

  <div class="field">
    <%= form.label :date, 'Fecha' %>
    <%= form.text_field :date, id: :event_date, class: "datepicker" %>
  </div>

  <div class="field>"
    <%= form.label :description, 'Detalles' %>
    <%= form.text_area :description, id: :event_description, class: 'materialize-textarea' %>
  </div>

  <div class="field">
    <%= form.label :image, 'Imagen' %>
    <% if @event.image.present? %>
      <%= image_tag event.image_url(:large), width: '100%' %>
    <% end %>
    <%= form.hidden_field :image, value: form.object.cached_image_data %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn' %>
  </div>
<% end %>
