<div class="row event">
  <div class="col s12 m8 l6 offset-m2 offset-l3">
    <h1><%= @event.title %> <small class="blue-grey-text text-lighten-5"><%= @event.date.strftime('%B %d') %></small></h1>
    <address><%= @event.address %></address>
    <strong><%= left_days @event.date %></strong>
    <span class="date"></span>
    <hr>
    <strong>Detalles:</strong>
    <p class="description">
      <%= @event.description %>
    </p>

    <%= image_tag @event.image_url, class: 'full-width' if @event.image.present? %>

  </div>
</div>