<div class="row valign-wrapper">
  <div class="col s9">
    <h2>Noticias <%= link_to '<i class="medium material-icons">fiber_new</i>'.html_safe, new_news_path if user_signed_in? and current_user.admin%></h2>
  </div>
  <div class="col s3 valign">
    
  </div>
</div>
<section>
  <div class="row">
    <% @news.each do |new| %>
      <article class="news-item">
          
        <div class="col s12 m7 l4">
          <!-- <h3 class="header">Horizontal Card</h3> -->
          <div class="card horizontal">
            <div class="card-image">
              <% unless new.image.blank? or new.image.nil? %>
                <%= image_tag new.image %>
              <% else %>
                <div class="news-no-image"><span>Sin <br>Imágen</span></div>
              <% end %>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <h3 class="card-title"><%= new.title %></h3>
                <p><%= new.description %></p>
                <div class="row info-and-action">
                  <div class="col l12">
                    <span class="info-editor left">
                      <%= new.editor %>
                      <br>
                      <%= new.published_at || new.created_at %>
                    </span>
                    <a class="waves-effect waves-light btn right"><i class="material-icons right">remove_red_eye</i>Ver</a>
                  </div>
                </div>
              </div>
             <!--  <div class="card-action">
              </div> -->
            </div>
          </div>
        </div>
                  
      </article>
    <% end %>
  </div>
</section>
