<%= form_with(model: photo, local: true) do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% unless action_name == 'edit' %>
      <%= form.label :photo, 'Foto' %>
      <% if @photo.photo.present? %>
        <%= image_tag photo.photo_url, width: '100%' %>
      <% end %>
      <%= form.hidden_field :photo, value: form.object.cached_photo_data %>
      <%= form.file_field :photo %>
    <% else %>
      <%= image_tag photo.photo_url, width: '100%' %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :description, 'Descripción' %>
    <%= form.text_area :description, id: :photo_description, class: 'materialize-textarea' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn' %>
  </div>
<% end %>
