<%# local:true implica un formulario comun %>
<%# form_with(model: photo, local: true) do |form| %>
<%# sin el local:true se asume que se esta utilizando ajax para el formulario %>
<%= form_with(model: photo) do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% unless action_name == 'edit' %>
      <%= form.label :photo, 'Foto' %>
      <% if @photo.photo.present? %>
        <%= image_tag photo.photo_url, width: '100%' %>
      <% end %>
      <%= form.hidden_field :photo, value: form.object.cached_photo_data %>
      <%= form.file_field :photo, id: :photo_photo, accept: 'image/*' %>
    <% else %>
      <%= image_tag photo.photo_url, width: '100%' %>
    <% end %>
  </div>
  
  <div id="previewContainer">
    <img id="preview" src="" alt="">
    <div id="falseWall">

      <div id="progressBarContainer" class="hide">
        <div class="center-align">

          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>

        </div>

        <span id="progressMessage" class="red-text text-darken-2"></span>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, 'Descripción' %>
    <%= form.text_area :description, id: :photo_description, class: 'materialize-textarea' %>
  </div>

  <div class="actions">
    <%# form.submit class: 'btn' %>
    <%= link_to "Subir Foto", "#", id: 'sendPhoto', class: 'btn large' %>
  </div>
<% end %>
