<div class="row">
  <div class="col s12 m8 xl6 offset-m2 offset-xl3">
    
    <div class="card photo-card">
      <div class="card-image">
        <%= image_tag @photo.photo_url(:large) %>
          <div class="chip grey lighten-5">
            <% if @photo.user.image.present? %>
              <%= image_tag @photo.user.image %>
            <% else %>
              <%= image_tag 'blank_profile_small.png' %>
            <% end %>
            <%#= image_tag 'escudo_tepeapulco_logo.png', alt: 'Contact Person' %>
              <%= @photo.user.name %>
          </div>
        <!-- <span class="card-title">Card Title</span> -->
        <!-- ###### Uncomment follow to enable element favs in card -->

            <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">favorite_border</i></a> -->
      </div>
      <div class="card-content">
        <time class="blue-grey-text text-lighten-2" ><%= time_ago_in_words(@photo.created_at) %></time>
        <p><%= @photo.description %></p>
      </div>
    </div>
  </div>
</div>
