<!DOCTYPE html>
<html>
  <head>
    <title>Tepeapulco, Hidalgo, Mexico.</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, user-scalable=no" initial-scale="1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <div class="nav-wrapper cyan">
        <a href="<%= root_url %>" class="brand-logo center"><i><%= image_tag 'escudo_tepeapulco_logo.png', class: 'material-icons hide-on-small-only' %></i> Tepeapulco</a>
        <%# link_to :Tepea, root_url, class: 'brand-logo' %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to 'Noticias', news_index_path %></li>
          <li><a href="#">Fotos</a></li>
          <li><a href="#">Lugares</a></li>
          <li><a href="#">Xihuingo</a></li>
          <li id="mapClose"> 
            <a href="#" class="blue-grey darken-4"><i class="material-icons left">close</i>Cerrar Mapa</a>
          </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><%= link_to 'Noticias', news_index_path %></li>
          <li><a href="#">Fotos</a></li>
          <li><a href="#">Lugares</a></li>
          <li><a href="#">Xihuingo</a></li>
          <li><%= link_to "Cerrar Sesion", 'signout_path' %></li>
        </ul>
      </div>
    </nav>

    <div id="user_nav">
      <% if current_user %>
        <div class="hide-on-small-only">
          Signed in as <strong><%= current_user.name %></strong>!
          <%= link_to "Salir", signout_path, id: "sign_out" %>
        </div>
        <div class="hide-on-med-and-up">
          <img id="user_image" src="<%= current_user.image_url %>" alt="avatar">
          <%= link_to "Salir", signout_path, id: "sign_out" %>
        </div>
      <% else %>
        <%# link_to "Entrar con facebook", "/auth/facebook", id: "sign_in" %>
      <% end %>
    </div>

    <div class="flashmessage">
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
        <div class="alert"><%= flash[:alert] %></div>
      <% elsif flash[:error] %>
        <div class="error"><%= flash[:error] %></div>
      <% elsif flash[:before_login] %>
        <div class="before_login"><%= flash[:before_login] %></div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
